:root {
    --user-info-height: 60px;
    --disable-notifications-height: 70px;
    --chat-list-container-height: calc(100% - var(--disable-notifications-height) - var(--user-info-height));
    --search-bar-height: 40px;
    --chat-list-height: calc(100% - var(--search-bar-height));
    --contact-height: 70px;
    --chat-footer-height: 50px;
}

*{
    font-size: 0.9rem;
}

/* general rules */

ul{
    list-style-type: none;
    padding: 0;
}

img{
    height: 100%;
    border-radius: 50%;
    margin-right: 10px;
}

i{
    color: rgb(176,176,176);
    font-size: 1.2rem;
    margin: 8px;
    cursor: pointer;
}

p{
    margin: 0;
}

.none{
    display: none;
}



/* main background */

.upper-background{
    background-color: rgb(0,150,136);
    height: 15vh;
    width: 100%;
}

.lower-background{
    background-color: rgb(219,219,211);
    height: 85vh;
    width: 100%;
}

/* main chat */

#main-chat-container{
    height: 95vh;
    width: 80%;
    position: absolute;
    z-index: 2;
    display: flex;
}

.chat-left-part{
    width: 35%;
    height: 100%;
}

.chat-right-part{
    width: 65%;
    height: 100%;
    border-left: 1px solid lightgrey;
}

.user-info,
.contact-info-container{
    background-color: rgb(234,234,234);
    height: var(--user-info-height);
}

.user-info div{
    height: 100%;
}

.disable-notifications{
    background-color: rgb(142,218,251);
    height: var(--disable-notifications-height);
}

.disable-notifications i{
    color: rgb(142,218,251);
    height: 45px;
    width: 45px;
    font-size: 1.4rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.disable-notifications a{
    color: grey;
}

/* contacts list */

.chat-list-container{
    background-color: white;
    height: var(--chat-list-container-height);
}

.search-bar{
    height: var(--search-bar-height);
    background-color: rgb(250,250,250);
}

.search-bar div{
    height: 70%;
    width: 95%;
    background-color: white;
    border-radius: 5px;
}

.chat-list{
    overflow-y: scroll;
    overflow-x: hidden;
    height: var(--chat-list-height);
}

.contact{
    height: var(--contact-height);
    width: 100%;
    border-top: 0.5px solid rgba(211, 211, 211, 0.5);
    display: flex;
    position: relative;
    cursor: pointer;
}

.background-grey,
.contact:hover
{
    background-color: rgb(232,235,235);
}

.contact:last-child{
    border-bottom: 1px solid rgba(211, 211, 211, 0.5);
}

.contact img{
    height: 100%;
    width: 50px;
}

.last-message,
.contact-info span{
    color: rgb(185, 185, 185);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 230px;
}

.contact-info span{
    max-width: 100%;
}

.time{
    font-size: 0.7rem;
    color: lightgrey;
    position: absolute;
    top: 0;
    right: 0;
}

/* chat part */

.chat-container{
    height: calc(100% - var(--user-info-height));
    position: relative;
}

.contact-info{
    height: 100%;
}

.icons-container{
    display: flex;
    justify-content: flex-end;
}

.chat{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - var(--chat-footer-height));
    width: 100%;
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
    padding: 20px 0;
}

.chat ul{
    height: 100%;
}

.message-container{
    width: 80%;
    height: 90%;
    display: flex;
}

.sent-message-container{
    width: 100%;
    height: 100%;
}

.sent-message-container span{
    font-size: 0.7rem;
    color: lightgrey;
    position: absolute;
    bottom: 0;
    right: 5px;
}

.sent-message,
.received-message{
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    clear: both;
    position: relative;
}

.sent-message{
    background-color: rgb(213,249,186);
    float: right;
}

.received-message{
    background-color: rgb(255,255,255);
    float: left;
}

.chat-footer{
    position: absolute;
    bottom: 0;
    height: var(--chat-footer-height);
    width: 100%;
    background-color: rgb(243,238,233);
}

.chat-footer input,
.search-bar input{
    width: 85%;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.drop-down-menu-container{
    position: relative;
}

.drop-down-menu-container i{
  margin: 0 0 0 5px;
  font-size: 1.4rem;
  position: absolute;
  transform: translate(-5px, -50%);
  display: none;
}

.drop-down-menu{
    display: none;
    width: 130px;
    background-color: rgb(255,255,255);
    border: 1px solid grey;
    transform: translate(-100%, 0);
    position: absolute;
    margin: 5px;
}

.message-container li:hover .drop-down-menu-container i
{
    display: block;
}

.selected{
    display: block;
    z-index: 5;
}

.delete-message{
    cursor: pointer;
}



