<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

        <!-- Style CSS -->
        <link rel="stylesheet" href="./css/style.css">

        <!-- FONTAWSOME -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

        <title>Boolzapp</title>
    </head>

    <body>
        
        <div id="app">

            <main class="position-relative d-flex flex-column justify-content-center align-items-center">
                <!-- The main chat container is divided because of the two backgrounds divs -->
                <div id="main-chat-container">

                    <!-- USER NAME AND ACTIVE CHAT'S LIST -->
                    <div class="chat-left-part">
                        <!-- USER INFO -->
                        <div class="user-info p-2 d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                <img id="user-photo" src="./img/avatar_io.jpg" alt="">
                                <p class="m-0">
                                    Sofia
                                </p>
                            </div>
                           
                            <div class="icons d-flex align-items-center">
                                <i class="fa-solid fa-spinner"></i>
                                <i class="fa-solid fa-message"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                        <!-- NOTIFICATIONS' ALERT -->
                        <div class="disable-notifications d-flex align-items-center">
                            <i class="fa-solid fa-bell-slash"></i>
                            <div>
                                <p>
                                    Ricevi notifiche di nuovi messaggi
                                </p>
                                <a href="#">Attiva notifiche desktop</a>
                            </div>
                        </div>
                        <!-- CHAT'S LIST -->
                        <div class="chat-list-container">

                            <!-- SEARCH BAR FOR CONTACTS -->
                            <div class="search-bar d-flex align-items-center justify-content-center">
                                <div class="d-flex align-items-center justify-content-center justify-content-around">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                    <input type="text" placeholder="Cerca o inizia una nuova chat" id=""
                                    v-model="searchContact" v-on:keyup="searchTheContact">
                                </div>
                            </div>

                            <!-- LIST OF ALL THE AVAILABLE CHATS -->
                            <ul class="chat-list">
                                <li class="contact p-2 d-flex align-items-center"
                                v-for="(element, index) in contacts"
                                @click="getElementActive(index)"
                                :class="(element.visible !== true) ? 'd-none' : '', (activeIndex == index) ? 'background-grey' : ''">
                                    <img :src="'./img/avatar' + element.avatar + '.jpg'" alt="" class="me-2">
                                    <div>
                                        <p class="contact-name">
                                            {{element.name}}
                                        </p>
                                        <p class="last-message">
                                            {{element.messages[element.messages.length - 1].message}}
                                        </p>
                                        <span class="time p-3">
                                            {{getTimeFormat(element.messages[element.messages.length - 1].date)}}
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- PART OF THE WINDOW WITH THE ACTUAL CHAT OF THE SELECTED CONTACT -->
                    <div class="chat-right-part">
                        <!-- INFO ABOUT THE SELECTED CONTACT -->
                        <div class="contact-info-container">
                            <div class="contact-info p-2 d-flex justify-content-between">
                                <div class="d-flex">
                                    <img :src="'./img/avatar' + contacts[activeIndex].avatar + '.jpg'" alt="">
                                    <div class="d-flex flex-column justify-content-center">
                                        <p class="contact-name m-0">
                                            {{contacts[activeIndex].name}}
                                        </p>
                                        <span>
                                            Ultimo accesso {{getDayFormat(contacts[activeIndex].messages[contacts[activeIndex].messages.length - 1].date)}}
                                            alle {{getTimeFormat(contacts[activeIndex].messages[contacts[activeIndex].messages.length - 1].date)}}
                                        </span>
                                    </div>
                                </div>
                                <div class="icons-container d-flex align-items-center">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                    <i class="fa-solid fa-paperclip"></i>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </div>
                            </div>
                        </div>
                        <!-- CHAT ABOUT THE SELECTED CONTACT -->
                        <div class="chat-container">
                            <div class="chat">
                                <div class="message-container">
                                    <div class="sent-message-container">
                                        <ul>
                                            <!-- LIST OF EVERY MESSAGE -->
                                            <li v-for="(element, index) in contacts[activeIndex].messages"
                                            :class="(element.status == 'sent') ? 'sent-message col-5' : 'received-message col-5'"
                                            @mouseleave="getDropDownMenu">
                                                {{element.message}}
                                                <span>
                                                    {{getTimeFormat(element.date)}}
                                                </span>
                                                <div class="drop-down-menu-container" :class="(element.status !== 'sent') ? 'd-none' : ''">
                                                    <i class="fa-solid fa-caret-down" @click="getDropDownMenu(index)"></i>
                                                    <div class="drop-down-menu" :class="(dropDownMenuIndex == index && element.status == 'sent') ? 'selected' : ''">
                                                        <p @click="deleteMessage(index)">
                                                            Delete Message
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>    

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="chat-footer d-flex justify-content-between align-items-center px-3">
                                <i class="fa-regular fa-face-smile"></i>
                                <input type="text" placeholder="Scrivi un messaggio" id="" v-model="newMessage" v-on:keyup.enter="sendNewMessage">
                                <i class="fa-solid fa-microphone"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="upper-background"></div>
                <div class="lower-background"></div>

            </main>

        </div>

        <!-- Import Luxon -->
        <script src="https://cdn.jsdelivr.net/npm/luxon@3.1.1/build/global/luxon.min.js"></script>
        <!-- Import Vue -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!-- JAVA SCRIPT -->
        <script src="./js/myscript.js"></script>
    </body>
    
</html>