<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

        <!-- Style CSS -->
        <link rel="stylesheet" href="./css/style.css">

        <!-- FONTAWSOME -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

        <title>Document</title>
    </head>

    <body>
        
        <div id="app">

            <main class="position-relative d-flex flex-column justify-content-center align-items-center">

                <div id="main-chat-container">
                    <div class="chat-left-part">
                        <div class="user-info p-2 d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                <img id="user-photo" src="./img/avatar_io.jpg" alt="">
                                <p class="m-0">
                                    Sofia
                                </p>
                            </div>
                           
                            <div class="icons d-flex align-items-center">
                                <i class="fa-solid fa-spinner"></i>
                                <i class="fa-solid fa-message"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                        <div class="disable-notifications d-flex align-items-center">
                            <i class="fa-solid fa-bell-slash"></i>
                            <div>
                                <p>
                                    Ricevi notifiche di nuovi messaggi
                                </p>
                                <a href="#">Attiva notifiche desktop</a>
                            </div>
                        </div>
                        <div class="chat-list-container">
                            <div class="search-bar d-flex align-items-center justify-content-center">
                                <div class="d-flex align-items-center justify-content-center justify-content-around">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                    <input type="text" placeholder="Cerca o inizia una nuova chat" id="">
                                </div>
                            </div>
                            <ul class="chat-list">
                                <li class="contact p-2 d-flex align-items-center" v-for="(element, index) in contacts"
                                @click="getElementActive(index)"
                                :class="(element.visible === true) ? 'background-grey border border-0' : ''">
                                    <img :src="'./img/avatar' + element.avatar + '.jpg'" alt="" class="me-2">
                                    <div>
                                        <p class="contact-name">
                                            {{element.name}}
                                        </p>
                                        <p class="last-message">
                                            {{element.messages[element.messages.length - 1].message}}
                                        </p>
                                        <span class="time p-2">
                                            {{getTimeFormat(element)}}
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="chat-right-part">

                        <div class="contact-info-container">
                            <div class="contact-info p-2 d-flex justify-content-between" v-for="(element, index) in arrayForActiveIndex">
                                <div class="d-flex">
                                    <img :src="'./img/avatar' + element.avatar + '.jpg'" alt="">
                                    <div class="d-flex flex-column justify-content-center">
                                        <p class="contact-name m-0">
                                            {{element.name}}
                                        </p>
                                        <span>
                                            Ultimo accesso oggi alle {{getTimeFormat(element)}}
                                        </span>
                                    </div>
                                </div>
                                
                                <div class="icons-container d-flex align-items-center">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                    <i class="fa-solid fa-paperclip"></i>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </div>
                            </div>
                        </div>

                        <div class="chat-container">
                            <div class="chat">
                                <div class="message-container">
                                    <div class="sent-message-container">
                                        <ul>
                                            <template v-for="(element, index) in arrayForActiveIndex">
                                            <li v-for="(element, index) in element.messages"
                                            :class="(element.status == 'sent') ? 'sent-message col-5 offset-7' : 'received-message col-5' "
                                            >
                                            {{element.message}}
                                            </li>
                                            </template>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="chat-footer d-flex justify-content-between align-items-center px-3">
                                <i class="fa-regular fa-face-smile"></i>
                                <input type="text" placeholder="Scrivi un messaggio" id="">
                                <i class="fa-solid fa-microphone"></i>
                            </div>




                        </div>
                    </div>


                </div>


                <div class="upper-background"></div>
                <div class="lower-background"></div>








            </main>

            
        </div>

        <!-- Import Vue -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!-- JAVA SCRIPT -->
        <script src="./js/myscript.js"></script>
    </body>
    
</html>